body, html {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    font-family: 'Oswald', sans-serif;
}

.landing-container {
    width: 100%;
    height: 100%;
}

.landing {
    width: 100%;
    height: 70%;
    background-color: white;
    background-image: url('/Images/LondonSkyline.jpg');
    background-size: cover;
    text-align: center;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    float: left;
}

.product-container {
    position: absolute;
    bottom: -25%;
    /*Center of screen, bottom of splash element, - 25% for overlap*/
    width: 100%;
    max-height: 125%;
}

.title {
    color: white;
    text-align: center;
    letter-spacing: 1.4px;
    font-size: 4vw;
}

.product-image-container {
    display: inline-block;
    width: 30%;
    max-height: 100%;
}

.bubbles {
    display: none;
    padding: 5px;
    background: red;
}

.product-image-container img {
    width: 65%;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.6)
}

.product-image-container img:hover .bubbles {
    display: block;
}

.buy-container {
    margin-top: 10px;
}

.buy-button {
    background: red;
    border: none;
    color: white;
    cursor: pointer;
    letter-spacing: 1.4px;
    padding: 10px;
    font-size: 1vw;
}

.buy-button:hover {
    background: rgb(197, 0, 0);
}

.heading {
    color: black;
    text-align: center;
    letter-spacing: 1.4px;
    font-size: 4vw;
}

.features {
}